h1 {
  color: black;
}

td {
  text-align: center;
}

table {
  border: 1px solid;
  border-collapse: collapse;
}

th {
  border: 1px solid;
  padding: 5px;
}
tr {
  border: 1px solid;
}

td {
  border: 1px solid;
  padding: 5px;
}
